<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'locks.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Some key(s) stored -->
  <ng-container >

    <ng-container [ngSwitch]="devices.length === 0">
      <!-- No device found -->
      <ion-card *ngSwitchCase="true">
        <img class="hide-sm" src="assets/imgs/unlock.jpg" (click)="startScan()" />
        <ion-card-content>
          <p>{{'locks.scan-for-locks' | translate}}</p>          
        </ion-card-content>
        <ion-list lines="none">
          <ion-item button fill="clear" size="small" (click)="startScan()">
            <ion-icon name="search" slot="start"></ion-icon>
            {{'locks.start-scan' | translate}}
          </ion-item>
          <ion-item button fill="clear" size="small" (click)="manageKeys()">
            <ion-icon name="key" slot="start"></ion-icon>
            {{'locks.manage-keys' | translate}}
          </ion-item>
       
        </ion-list>
      </ion-card>

      <!-- Some device(s) found -->
      <ion-card *ngSwitchCase="false">
        <img class="hide-sm" src="assets/imgs/unlock.jpg" />
        <ion-card-content>
          <p>{{'locks.select-lock' | translate}}</p>
          <ion-list lines="none">
            <ion-item button detail (click)="select(device)" *ngFor="let device of devices">
              <ion-label>
                <h2 class="device-name">{{device.name}}</h2>
                <p>{{device.id}}</p>
              </ion-label>
            </ion-item>
            <ion-item button fill="clear" size="small" (click)="startScan()">
              <ion-icon slot="start" name="refresh"></ion-icon>
              {{'locks.repeat-scan' | translate}}
            </ion-item>
            <ion-item button fill="clear" size="small" (click)="manageKeys()">
              <ion-icon name="key" slot="start"></ion-icon>
              {{'locks.manage-keys' | translate}}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
</ion-content>