// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.modal-transparency { 
    --background: transparent; 
    --height: 80%;
  
   ion-toolbar {
     --background: transparent;
     color: white;
   }
   ion-content {
     --background: transparent;
   }
  }


  .ion-alert {
    --min-width:85%;
    --min-height:43%;
    --padding-bottom: 0px;

  }


  